{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["last 2 versions"]
      },
      "useBuiltIns": "entry"
    }],

    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-export-extensions",
    "transform-object-rest-spread",
    ["import", { "libraryName": "antd", "style": true }],
    "react-hot-loader/babel"
  ]
}