// Available theme variables can be found in
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

// This file will override the antd default style!!

@primary-color: rgba(77, 201, 160, 0.836);
@layout-header-background: #495fa7;
@layout-header-height: 60px;
